<div class="container">
	<h3>Angular CDK Drag/Drop List inside table (not Material Table) - Handle rows distorting width</h3>
	<br >
	<a href="https://trungk18.com/experience/angular-cdk-drag-drop-list-table">
		https://trungk18.com/experience/angular-cdk-drag-drop-list-table
	</a>
	<div class="mb-4"></div>
	<app-table-drag></app-table-drag>
	<hr />
	For clarity and consistency when building UI, please read this <a target="_blank"
		href="https://github.com/trungk18/front-end-editorial-style-guide">front-end-editorial-style-guide</a>
</div>